
<p> <%= @question %> </p>
<p class="text-gray text-small"> My question </p>
</div>


<p> <%= @answer %> </p>
<p class="text-gray text-small"> My coach </p>

<%= link_to "Ask a new question", ask_path %>



