
<div class="row">
<div class="col-md-offset-4 col-md-4 text-center">
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?" class="form-control">
  <button class="btn btn-primary padding-bigger" type="submit">Ask!</button>
</form>
</div>

</div>
