form {
  padding-top:80px;
}

title {
  font-size: 10px;
}

label {
  padding: 10px;
}

.padding-bigger {
  padding-top: 10px;
}

.text-gray {
  color: rgb(100, 100, 100);
}

.text-small {
  font-size: 12px
}
